{{ define "main" }}
<article class="full-article">
  <div class="article-header">
    <h1 class="article-title">{{.Title}}</h1>
    <p class="article-description">{{.Params.description}}</p>

    {{ range .GetTerms "author"}}
    <div class="article-author">
      {{with .Resources.Get "portrait.jpg"}}
      {{with .Fill "128x128"}}
      <img src="{{.RelPermalink}}" width="{{.Width}}" height="{{.Height}}" alt="author portrait"/>
      {{end}}
      {{end}} 
      <div class="article-author-details">
        <span>{{.Title}}</span>
        <span>{{.Date | time.Format ":date_medium"}} {{if ne .ReadingTime 0}} - {{ .ReadingTime }} min read {{end}}</span>
      </div>
    </div>

    {{end}}

    <span></span>
  </div>
  {{with .Resources.Get .Params.image }}
  <img
    src="{{ .RelPermalink }}"
    id="preview"
    alt="preview"
    width="{{.Width}}"
    style="view-transition-name: img-{{$.File.ContentBaseName | urlize }};"
  />
  {{end}}
  <div class="article-content">{{.Content}}</div>
</article>
{{end}}
