@media screen and (max-device-width: 640px) {
  .linguin {
    font-size: 5em;
  }

  .name {
    font-size: 2.5em;
  }
  .contents {
    font-size: 1.5em;
  }

  .contents > div {
    width: 100%;
  }

  .contributions > ul > li {
    width: 100%;
  }
}
